@import "./_variables.sass"
@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@import "./_icons.sass"
@import "./_fonts.sass"

body
    margin: 0

    #carouselExampleIndicators
        filter: brightness(0.30)

#carouselExampleIndicators 
    z-index: 1


nav
    z-index: 9

// .carousel-inner
//     top: 0
//     position: absolute

header
    border-bottom: dashed black 4px
    nav
        a
            border-top: white solid 1px
            border-bottom: white solid 1px
            width: 80%
            color: white
            text-decoration: none
        
        .nav-link
            display: flex
            justify-content: center

        #logo
            width: 80%